table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background: rgb(246, 246, 246);
  text-align: left;
  padding: 8px;
  height: 41px;
  font-size: 13px;
  font-weight: 700;
  color:rgb(30, 30, 30);
}

thead {
  border: rgb(216, 216, 216) 1px solid;
}

td {
  padding: 15px 15px 15px 5px;
  border-bottom: 1px solid rgb(216, 216, 216);
  color: rgb(74, 74, 74);
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}

.pink-class {
  color: pink;
}


/* Throwing this here until we figure out how to make sort-column.css work */
.cursor-pointer {
  cursor: pointer;
}

.l-margin-minus-8 {
  margin-left: -8px;
}

.r-margin-5 {
  margin-right: 5px;
}